{% extends 'northwind_base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <a href="{{ path('app_northwind_categories_new') }}" class="btn btn-primary mb-3">Create new</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>CategoryName</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.categoryName }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_northwind_categories_show', {'id': category.id}) }}" class="btn btn-sm btn-info">show</a>
                    <a href="{{ path('app_northwind_categories_edit', {'id': category.id}) }}" class="btn btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
